[include fluidd.cfg]
[virtual_sdcard]
path: /home/rock/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[gcode_macro _name_Variables]
variable_name: "fl.1"
gcode:


[mcu]
serial = /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0


[printer]
kinematics = cartesian
max_velocity = 200
max_accel = 150

[force_move]
enable_force_move = true

[stepper_x]
step_pin = PD7
dir_pin = PC5
enable_pin = !PD6
endstop_pin = PC2
position_endstop = 0
position_max = 200
microsteps = 16
rotation_distance = 90
homing_speed: 30
full_steps_per_rotation = 400

[stepper_y]
step_pin = PC6
dir_pin = !PC7
enable_pin = !PD6
endstop_pin = PC3
position_endstop = 0
position_max = 500
microsteps = 16
rotation_distance = 80
full_steps_per_rotation = 400

[stepper_z]
step_pin = PB3
dir_pin = PB2
enable_pin = !PA5
endstop_pin = PC4
position_endstop = 0
position_min = -5000
position_max = 5000
homing_positive_dir = True
microsteps = 16
rotation_distance = 207.345
full_steps_per_rotation = 400

[stepper_z1]
step_pin = PB1
dir_pin = !PB0
enable_pin = !PD6
endstop_pin = PC4
microsteps = 16
rotation_distance = 207.345
full_steps_per_rotation = 400

[duplicate_pin_override]
pins = PC4

[fan]
pin: PB4

[delayed_gcode KINEMATIC_POSITION]
initial_duration = 0.2
gcode = 
	SET_KINEMATIC_POSITION

[gcode_macro M84]
rename_existing = M84.1
gcode = 
	SET_STEPPER_ENABLE STEPPER=stepper_z enable=0
	SET_STEPPER_ENABLE STEPPER=stepper_z1 enable=0


##################################################################前进 
[gcode_macro move_forward_long]    ##从待机位置出来前往打印机时使用
gcode = 
     query_endstops                ##循环外执行一次使开启输入
	 {% for i in range(100) %}
         move_forward_state_l
	 {% endfor %}         

[gcode_macro move_forward_state_l]
gcode:
     {% set ting = printer["query_endstops"].last_query["z"] %}   ##定义ting
	 #{ action_respond_info("%s" %(ting) )}
     {% if ting == 0 %}
	     query_endstops
	     move_forward_l
		 M400
	 {% endif %}

[gcode_macro move_forward_l]
gcode = 	
	 {% set ting = printer["query_endstops"].last_query["z"] %}
	 #{ action_respond_info("%s" %(ting) )}
	 {% if ting == 0 %}
         zjin_long
     {% endif %} 



[gcode_macro zjin_long]
gcode = 
	 G91
	 G1 Z200 F7500
##################################################################大前进
##################################################################小前进
[gcode_macro move_forward_short]   ##触碰z限位后二次归位时使用
gcode = 
     query_endstops                ##循环外执行一次使开启输入
	 {% for i in range(100) %}
         move_forward_state_s
	 {% endfor %}         

[gcode_macro move_forward_state_s]
gcode:
     {% set ting = printer["query_endstops"].last_query["z"] %}   ##定义ting
	 #{ action_respond_info("%s" %(ting) )}
     {% if ting == 0 %}
	     query_endstops
	     move_forward_s
		 M400
	 {% endif %}

[gcode_macro move_forward_s]
gcode = 	
	 {% set ting = printer["query_endstops"].last_query["z"] %}
	 #{ action_respond_info("%s" %(ting) )}
	 {% if ting == 0 %}
         zjin_short
     {% endif %} 



[gcode_macro zjin_short]
gcode = 
	 G91
	 G1 Z5 F3000
##################################################################小前进
##################################################################后退
[gcode_macro move_back_long]
gcode = 
     query_endstops
	 {% for i in range(100) %}
         move_back_state_l
	 {% endfor %}


[gcode_macro move_back_state_l]
gcode:
     {% set ting = printer["query_endstops"].last_query["z"] %}
	 { action_respond_info("%s" %(ting) )}
     {% if ting == 0 %}
	     query_endstops
	     move_back_l
		 M400
	 {% endif %}



[gcode_macro move_back_l]
gcode = 
	 {% set ting = printer["query_endstops"].last_query["z"] %}
	 #{ action_respond_info("%s" %(ting) )}
	 {% if ting == 0 %}
         ztui_long
     {% endif %} 

	 
[gcode_macro ztui_long]
gcode = 
	G91
	G1 Z -100 F3000

##################################################################后退
##################################################################
[gcode_macro move_back_short]
gcode = 
     query_endstops
	 {% for i in range(100) %}
         move_back_state_s
	 {% endfor %}


[gcode_macro move_back_state_s]
gcode:
     {% set ting = printer["query_endstops"].last_query["z"] %}
	 { action_respond_info("%s" %(ting) )}
     {% if ting == 0 %}
	     query_endstops
	     move_back_s
		 M400
	 {% endif %}



[gcode_macro move_back_s]
gcode = 
	 {% set ting = printer["query_endstops"].last_query["z"] %}
	 #{ action_respond_info("%s" %(ting) )}
	 {% if ting == 0 %}
         ztui_short
     {% endif %} 

	 
[gcode_macro ztui_short]
gcode = 
	G91
	G1 Z -2 F3000
############################################################################

[gcode_macro weizhi]
gcode = 
	M114

[gcode_macro KAIGUAN]
gcode = 
    query_endstops
    xianwei


[gcode_macro guiwei]
gcode = 
	G28 X
	G28 Y



[gcode_shell_command remote_run]
command: /home/rock/forklift/software/shell/remote_run.sh
timeout: 30
verbose: True


[gcode_macro remote_call_printer_door_up_s]
gcode:
  {% set _name = printer["gcode_macro _name_Variables"].name %}
  RUN_SHELL_COMMAND CMD=remote_run PARAMS="{_name} call_printer door_up_s"

[gcode_macro remote_call_printer_door_up_l]
gcode:
  {% set _name = printer["gcode_macro _name_Variables"].name %}
  RUN_SHELL_COMMAND CMD=remote_run PARAMS="{_name} call_printer door_up_l"

[gcode_macro remote_call_printer_door_close]
gcode:
  {% set _name = printer["gcode_macro _name_Variables"].name %}
  RUN_SHELL_COMMAND CMD=remote_run PARAMS="{_name} call_printer door_close"

[gcode_macro remote_call_printer_servo_home]
gcode:
  {% set _name = printer["gcode_macro _name_Variables"].name %}
  RUN_SHELL_COMMAND CMD=remote_run PARAMS="{_name} call_printer servo_home"

[gcode_macro remote_call_printer_servo_up]
gcode:
  {% set _name = printer["gcode_macro _name_Variables"].name %}
  RUN_SHELL_COMMAND CMD=remote_run PARAMS="{_name} call_printer servo_up"

[gcode_macro remote_call_printer_servo_block]
gcode:
  {% set _name = printer["gcode_macro _name_Variables"].name %}
  RUN_SHELL_COMMAND CMD=remote_run PARAMS="{_name} call_printer servo_block"

[gcode_macro remote_call_printer_servo_ding]
gcode:
  {% set _name = printer["gcode_macro _name_Variables"].name %}
  RUN_SHELL_COMMAND CMD=remote_run PARAMS="{_name} call_printer servo_ding"


[gcode_macro move_printer]
gcode:
  G28 X
  G28 Y
  move_forward_long
  G91
  G1 Z -10
  move_forward_short
  remote_call_printer_door_up_l

[gcode_macro arm_move]
gcode:
  G28 X
  remote_call_printer_servo_up
  M400
  G4 P2000
  G91
  G1 Y 400 F4500
  G91
  G1 Y 100 F3000
  G4 P2000
  remote_call_printer_servo_home
  M400
  G4 P2000 
  G91 
  G1 Y -375 F5000
  M400
  remote_call_printer_servo_ding
  M400
  G91
  G1 Y -125 F5000
  M400
  remote_call_printer_servo_home
  G91
  G1 Z 25
  G28 X
  G1 X180 F3000
  remote_call_printer_door_close


[gcode_macro arm_move_put]
gcode:
  G28 X
  M400
  G4 P2000
  G91
  G1 Y 500 F3500
  G4 P2000
  remote_call_printer_servo_block
  M400
  G91
  G1 Y -500 F3500
  G4 P2000
  G91
  G1 Z 25
  G28 X
  G1 X180 F2000
  remote_call_printer_servo_home
  remote_call_printer_door_close
  
[gcode_macro back_home]
gcode:
  move_back_long
  G91
  G1 Z 5
  move_back_short
  G28 X
  G28 Y

